*::before , *::after , *{
    box-sizing: border-box;
}
body{
    margin : 0;
    height : 100vh;
    width : 100vw;
    background: black;
    display : flex;
    flex-direction : column;
    justify-content : center;
    align-items : center;
    overflow : hidden;
}

#gameboard{
    height : 80vmin;
    width : 80vmin;
    /* border : 3px solid red; */
    display : grid;
    grid-template-rows : repeat(21 , 1fr);
    grid-template-columns : repeat(21 , 1fr);
    border-radius: 10px;
    background-color : rgb(22, 21, 21);
    box-shadow: 0 0 2em #01ffc3;
    border : 4px solid #01ffc3;
}

#foodCount{
    color : #01ffc3;
    margin-bottom : 1.5rem;
    font-size : 30px;
    font-family: 'Train One', cursive;
    /* color : #39FF14; */
    text-shadow: 0 0 0.5em #01ffc3;
}

.snake{
    border : 4px solid #39FF14;
    border-radius : 10px;
    box-shadow: 0 0 1em #39FF14;
}

.food{
    border : 4px solid red;
    border-radius : 50px;
    box-shadow: 0 0 1em red;
}